.profile-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5rem 0 5rem 0;
  color: #58595b;
}
.left-section {
  margin-right: 15px;
  padding: 1rem;
}
.detail-upper-left {
  background-color: #ebeaea;
  padding: 0.8rem;
  width: 15rem;
  font-size: 0.8rem;
  text-align: center;
  margin-bottom: 10px;
  height: 5rem;
}
.order-section {
  margin-top: 10px;
  width: 15rem;
  cursor: pointer;
  padding-top: 0.6rem;
  font-size: 1.2rem;
  text-align: center;
  height: 2.8rem;
  border: 1px solid #ebeaea;
  margin-bottom: 100px;
}

.left-account-button {
  height: 2.8rem;
  margin-bottom: 10px;
  width: 15rem;
  border: 2px solid #d9534f;
  color: #d9534f;
  background-color: white;
  font-weight: 600;
  border-radius: 2px;
}

.left-account-button:hover {
  background-color: #d9534f;
  color: white;
}

.right-section {
  margin-left: 15px;
  padding: 2rem;
  width: 40vw;
  border: 1px solid #ebeaea;
}
.delete-logout-button {
  display: flex;
  flex-direction: column;
}
.right-heading-upper {
  font-size: 1rem;
}
.right-detail-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #ebeaea;
  padding: 2rem;
  width: auto;
}
.right-detail-user input {
  padding: 0.5rem;
  width: 60%;
  border-radius: 10px;
  background-color: #ebeaea;
}
.right-detail-user label {
  margin-bottom: 5px;
}
.general-info-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ebeaea;
}
.user-info-edit-right {
  display: flex;
  flex-direction: column;
}
.user-info-edit-right input {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 5px;
}
.user-info-edit-right label {
  margin-top: 10px;
}
.address-change-left {
  border: 1px solid #ebeaea;
  width: 16vw;
  text-align: center;
}
.save-button {
  padding: 6px;
  font-size: 16px;
  background-color: #298e83;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 7rem;
  margin-left: 16vw;
}

/* ================dialog-box================================== */

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.dialog-box {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 38rem;
  position: relative;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close-button {
  position: absolute;
  top: 6px;
  right: 10px;
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
}

.dialog-buttons {
  margin-top: 20px;
}

.yes-button,
.no-button {
  background-color: #ec3d25;
  color: white;
  border: none;
  border: 2px solid #ec3d25;
  width: 7rem;
  height: 3rem;
  font-weight: 600;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.yes-button {
  margin-right: 20px;
}

.no-button {
  background-color: #fffefe;
  margin-left: 20px;
  color: #ec3d25;
}

.yes-button:hover {
  background-color: #b52f1d;
}

.no-button:hover {
  background-color: #ec3d25;
  color: white;
}
