.home-heading {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 25px;
}

.home-heading h2 {
  font-weight: 600;
}

.newarrival-data,
.categories-data {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
