/* Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 10px 20px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 5;
}

.upperdiv {
  background-color: #e71318;
  height: 3rem;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.nav-dropdown-head {
  font-weight: 600;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.1rem;
  color: #333;
  margin-top: 0.8rem;
  height: 2.6rem;
}

.nav-dropdown-head:hover {
  color: #ed2e30;
  .nav-dropdown {
    display: flex;
  }
}

.nav-dropdown {
  display: none;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background-color: white;
  height: auto;
  width: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  margin-top: 1.05rem;
}

.nav-dropdown div {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 0.9rem;
  cursor: pointer;
  color: #58595b;
}
.nav-dropdown div:hover {
  color: #e71318;
}

.nav-dropdown:hover {
  .nav-dropdown {
    display: flex;
  }
}

.logo {
  margin-left: 25px;
  margin-right: 20px;
  font-size: 26px;
  cursor: pointer;
  font-weight: bold;
  color: #333;
}

.navbar-right {
  margin-right: 30px;
  display: flex;
  align-items: center;
}

.icon {
  font-size: 25px;
  color: #333;
  margin-left: 30px;
  cursor: pointer;
}

.icon:hover {
  color: #555;
}
