.card1 {
  width: 23rem;
  height: 36rem;
  margin: 0px 15px 20px 15px;
  cursor: pointer;
}

.card-image {
  width: 22.9rem;
}

.card-title {
  font-size: 0.8rem;
  padding: 0.5rem;
  font-weight: 600;
}

.card1 hr {
  margin-top: 0px;
  width: 22rem;
  margin-left: auto;
  margin-right: auto;
}

.card-description {
  color: #737577;
  margin-top: -10px;
  margin-left: 0.5rem;
  margin-bottom: 0px;
}
.card-price {
  color: #737577;
  margin-left: 0.5rem;
  font-weight: 500;
}
